@charset "UTF-8";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#container {
margin: 0 auto;
width: 1300px;
}

a {
text-decoration: none;
}

#header {
    width: 100%;
    height: 200px;
    background-color: #879D71;
}
#logo {
    width: 200px;
    height: 100%;
    padding-top: 0px;
    padding-left: 30px; /* 왼쪽 여백 추가 */
    line-height: 200px; /* 행간 높이 조정 */
    float: left;
}
#loginHeader {
    width: 900px;
    height: 100px;
    float:right;
    padding-top: 15px;
    padding-right: 30px;
    text-align: right;
}
#loginHeader a{
    margin-left: 0px;
    font-size: 14px;
}
a {
text-decoration: none; 
color: #fff;
}
#clickLogin {
    margin-right: 2px;   /* 선과 다음 요소 간격 */
}
#clickLogin::after {
    content: "";
    display: inline-block;
    width: 1px;              /* 선 두께 */
    height: 14px;            /* 글자 높이에 맞춤 */
    background-color: #fff;  /* 선 색상 */
    margin-left: 20px;       /* 글자와 선 사이 간격 */
    margin-right: 15px;      /* 선과 다음 요소 간격 */
}
#nav {
    width: 1000px;
    height: 100px;
    float:right;
    padding-top: 40px;
}
#topMenu li {
    width: 24%;
    list-style-type: none;
    float: left;
    
}
#topMenu>li>a:hover {
    background-color: #FCFAEE;
    color: black;
}
#topMenu>li>a {
    font-size: 20px;
    padding: 20px 60px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}