@charset "UTF-8";

#subtitleArea {
            padding: 100px 0px 0px 0px;
            width: 1150px;
            margin: 0 auto;
        }




        #subtitle {
            border-bottom: 2px solid black;
            display: flex;
            align-items: center;
            max-width: 1300px;




            padding-bottom: 25px; /* 글자랑 밑줄 사이 간격 */




            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }




        #subtitleArea p {
            display: inline-block;  /* 한 줄에 자연스럽게 */
            margin-right: 4px;      /* p태그 사이 간격 */
            color: gray;            /* 기본 색 회색 */
        }




        #subtitleArea p:last-child {
            color: black;           /* 마지막만 검정 */
            font-weight: 500;      /* 강조 효과 */
        }




.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
    justify-content: space-between;
}




.form-row label {
    width: 120px;
    text-align: left;
    position: relative;
}


.form-row > label::before {
    content: '*';
    color: red;
}
.form-row textarea {
    width: calc(100% - 120px) !important;
    height: 100px;
    border: none;
    background: rgb(232, 232, 232);
}
.infocontent{
    align-items: flex-start;
}


input {
    width: calc(100% - 120px);
    height: 50px;
    border: none;
    background-color: rgb(232, 232, 232);
    padding: 0 10px;
    box-sizing: border-box;
}


input[value="수정하기"] {
    width: 160px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0px;
}

.form-row button {
	margin-bottom:150px;
}


input[value="이미지 변경"] {
    width: 100px;
    margin-top: 15px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 405px;
    top: 460px;
    font-size: 11px;
}

.img-button {
	padding: 15px;
}


.book-cover {
    width: 120px;
    height: 160px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 20px;
    min-width: 120px;
    position: absolute;
    left: 395px;
    top: 275px;
}


input[name="show"] {
    min-height: 200px;
    text-align: left;
}


#tbody{
    display: block;
    margin-top: 80px;
    width: 500px;
    position: relative;
    left: 375px;
   
}


.left{
    position: absolute;
    top: -274px;
    left: -650px;
}
